.contenido {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding: 0;

  &__titulo{
    text-align: center;

    h2{
      margin-bottom: 25px;
      font-size: 30px;
    }
  }
  &__multi{
    &-trailer{
      iframe{
        width: 100%;
        max-width: 711px;
      }
    }

    &-poster{
      img{
        height: 350px;
        width: 233px;
      }
    }
    &-boton{
      &--estilo{
        margin-top: 15px;
        width: 233px;
        height: 30px;
        background-color: rgb(40, 46, 64);
        color: rgb(156, 166, 196);
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}

.trailer-info{
  margin-bottom: 50px;
}
