*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgb(156, 166, 196);
  font-family: Roboto, Arial;
}
section{
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: rgb(217, 48, 48);
}

h3{
  margin-bottom: 15px;
}

/* header */
header{
  background-color: rgb(40, 46, 64);
}
.header__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  min-width: 861px;
  margin: 0 auto;
  padding: 15px 0;
}

.logo__pagina{
  margin-left: 20px;
}

.logo__pagina-boton{
  border: none;
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(40, 46, 64);
  color: rgb(217, 48, 48);
  cursor: pointer;
}

.film__logo {
  color: rgb(115, 72, 34);
}

.input__bar-buscar {
  width: 500px;
  height: 40px;
  border-radius: 200px;
  background-color: rgb(40, 46, 64);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(156, 166, 196);
  color: rgb(156, 166, 196);
  padding: 0px 15px;
}

.nav__bar {
  margin-right: 20px;
  text-align: right;
}

.nav__bar-list{
  list-style: none;
  font-weight: bold;
}


/* tendencias index */
.tendencias {
  text-align: left;
}
.tendencias__contenido{
  text-align: justify;
  text-justify: inter-word;
  height: 355px;
  min-width: 861px;
  max-width: 1080px;
}
.tendencias__contenido,
.tendencias__titulo,
.nuevos-lanzamientos {
  margin: 50px auto;
}
.tendencias__video,
.tendencias__info {
  display: inline-block;
  vertical-align: top;
}

.tendencias__video {
  width: 49%;
}
.tendencias__info{
  width: 49%;
  height: 100%;
  margin-left: 10px;
  overflow: scroll;
}
iframe {
  width: 100%;
}

.tendencias__info-boton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tendencias__info-texto {
  overflow-x: scroll;
  height: 266px;
}

.info-boton{
  width: 80%;
}

.info-boton--funcion {
  height: 40px;
  margin: auto;
  background-color: rgb(40, 46, 64);
  color: rgb(156, 166, 196);
  border: none;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}
p {
  margin: 0;
}

form {
  width: 75%;
}


/*nuevos lanzamientos index*/
.nuevos__lanzamientos{
  text-align: left;
}
.nuevos__lanzamientos-contenido{
  min-width: 861px;
  max-width: 1080px;
  margin: 50px auto;
}

.nuevos__lanzamientos-carteleras{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carteleras__titulo,
.carteleras__fecha {
  margin: 5px 0;
}

.carteleras__boton-funcion{
  width: 100%;
}

.carteleras__boton-estilo {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  background-color: rgb(40, 46, 64);
  color: rgb(156, 166, 196);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.imagenes__poster {
  width: 200px;
  height: 300px;
}

/* main contenido window */
.window__contenido h2 {
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
.window__contenido{
  margin: 0 auto;
  max-width: 1080px;
  min-width: 861px;
}
.nuevos-lanzamientos{
  display: flex;
  height: 350px;
  margin-top: 50px;
}

.nuevos-lanzamientos__img img{
  width: 232px;
  height: 350px;
}
.nuevos-lanzamientos__contenido {
  margin-left: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

}
.nuevos-lanzamientos__contenido-titulo {
  margin-top: 0;
  margin-bottom: 15px;
}
.nuevos-lanzamientos__contenido-texto{
  height: 60%;
  overflow-y: scroll;
}
.contenido__texto-sinopsis{
  margin: 0;
}
.nuevos-lanzamientos__contenido-info{
  display: flex;
  justify-content: space-between;

}
.nuevos-lanzamientos__contenido-info--flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.img__review-percentage {
  height: 125px;
  width: 125px;
  object-fit: cover;
  object-position: center;
  border-radius: 75px;
}

/* main contenido tendencias */
.contenido {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  max-width: 1080px;
  min-width: 861px;
  margin: 50px auto;
}
.contenido__titulo{
  text-align: center;
}
.contenido__titulo h2{
  margin-bottom: 25px;
  font-size: 30px;
}
.contenido__multi {
  display: flex;
  justify-content: space-between;
}
.contenido__multi-trailer{
  width: 711px;
}

.contenido__multi-posterboton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 15px;
}

.contenido__multi-poster img{
  height: 350px;
  width: 233px;
}

.contenido__multi-boton--estilo{
  margin-top: 15px;
  width: 233px;
  height: 30px;
  background-color: rgb(40, 46, 64);
  color: rgb(156, 166, 196);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* div black adam*/

.black-adam__fondo {
  background-image: url(../imagenes/blkadm-fondo.jpeg);
  background-position: 50% 35%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.black-adam__fondo-titulo {
  font-size: 50px;
  color: rgb(156, 166, 196);
  background-color: rgb(13, 13, 13);
  word-wrap: nowrap;
  min-width: 1080px;
}

/* main contenido black adam*/
main{
  margin-top: 50px;
}

.black-adam__pagina-titulo{
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
}
.media, 
.elenco {
  margin: 0 auto;
  max-width: 1080px;
  min-width: 861px;
}

.media__contenido{
  margin: 0 auto;
  max-width: 1080px;
  min-width: 861px;
  display: flex;
  justify-content: space-between;
}

.media__contenido iframe{
  width: 670px;
}

.media__contenido-img {
  height: 400px;
  width: 267px;
}

.info {
  display: flex;
  margin: 50px auto;
  max-width: 1080px;
  min-width: 861px;
}

.info__texto{
  text-align: justify;
  text-justify: inter-word;
}

.info__texto-titulo{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

.info__texto-texto {
  height: 400px;
  overflow-y: scroll;
}

.info__img {
  margin: 0 0 0 50px;
  padding-top: 50px;
}

.info__img img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.elenco {
  display: flex;
  flex-flow: column nowrap;
}

.elenco__actores{
  display: flex;
  justify-content: space-around;
}

.elenco__actores-individuales--img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
}
.elenco__actores-individuales--titulo {
  margin-bottom: 3px;
}


/* footer */
footer {
  background-color: rgb(40, 46, 64);
  height: 108px;
  margin-top: 50px;

}

.footer__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  min-width: 861px;
  margin: 0 auto;
  height: 100%;
}


.footer__contenido-texto{
  color: rgb(156, 166, 196);
  margin-top: 50px;
}



.footer__inicio-link{
  color: rgb(217, 48, 48);
  font-weight: bold;
  margin-left: 25px;
}


/* contacto */
.titulo__contacto {
  margin: 25px auto;
}

.titulo__contacto h1{
  text-align: center;
}
.form__contacto{
  display: flex;
  justify-content: center;
}
.form__contacto form{
  margin: 0 auto;
  width: 550px;
}

.form__contacto-flex{
  display: flex;
  justify-content: space-between;
}

.nombre{
  width: 260px;
  height: 35px;
  border: 2px solid rgb(40, 46, 64);
  background-color: rgb(156, 166, 196);
  color: rgb(40, 46, 64);
  border-radius: 18px;
  padding: 15px;
}

.email{
  display: block;
  width: 550px;
  height: 35px;
  border: 2px solid rgb(40, 46, 64);
  background-color: rgb(156, 166, 196);
  color: rgb(40, 46, 64);
  border-radius: 18px;
  padding: 15px;
}

.numero{
  width: 550px;
  height: 35px;
  border: 2px solid rgb(40, 46, 64);
  background-color: rgb(156, 166, 196);
  color: rgb(40, 46, 64);
  border-radius: 18px;
  padding: 15px;
}

.boton__contacto{
  display: block;
  width: 550px;
  height: 35px;
  border: 0;
  background-color: rgb(40, 46, 64);
  color: rgb(156, 166, 196);
  border-radius: 18px;
}

.nombre,
.email,
.numero,
.boton__contacto{
  margin: 5px 0;
}

.footer__contacto{
  margin-top: 420px;
}

/* noexiste */
.noexiste h1 {
  text-align: center;
}

.noexiste article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.noexiste a {
  text-decoration: none;
  color: rgb(217, 48, 48);
}